/* p1
caixa alta
cor vemelha
fonte 100%

p2
lowercase
cor azul
fonte menor
fonte arial sans
 serif
 
 paragrafo
 borda com 1px cor da borda seja verde*/

.p1  {
    color: red;
    text-transform: uppercase;
    font-size: 30px;

 }
/* .link:hover {
    background-color: green;
}
.link:hover a {
    color: white;
}
.link {
    border: 2px outset #ddd;
    background-color: #ddd;
} */
.p2 {
    text-transform: lowercase;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.paragrafo {

    border: 1px solid green;

}

